:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

;

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

;

@layer components {
  .loader {
    @apply mx-auto border-4 border-transparent rounded-full border-b-sky-500 border-t-sky-700 w-6 h-6 animate-spin
  }
  .profileBox{
    @apply border rounded-3xl bg-[#E0E0E0] w-fit h-fit shadow-3xl overflow-hidden
  }

  .profileDivInput {
    @apply text-center capitalize w-[50%] bg-transparent outline-none text-black border-transparent placeholder:text-end
  }

  .profileDivText {
    @apply text-black w-[50%]
  }
}

;


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

;